<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css reset -->
  <link rel="stylesheet" href="../reset.css">
  <link rel="stylesheet" href="../base.css">
  <!-- styles -->
  <link rel="stylesheet" href="./styles.css">
  <title>Components</title>
</head>

<body>
  <main style="padding-left: 10rem;">
    <button class="btn primary">About us</button>
    <button class="btn outline">See more</button>
    <button class="btn outline sm">See more</button>
    <div class="title__section">
      <img class="title__under" src="../assets/img/title/under-title.svg" alt="">
      <div class="title__content">
        <h2 class="heading h2">MOTORBIKE TOUR</h2>
        <!-- <img class="title__icon" src="../assets/img/title/motor.svg" alt=""> -->
        <img class="title__icon" src="../assets/img/title/car-jeep.svg" alt="">
      </div>
    </div>
    <div style="width: 28.125rem;">
      <a href="#" class="card__tour">
        <!-- Thumbnail -->
        <div class="card__tour__thumbnail">
          <!-- Category -->
          <div class="card__tour__category">
            <img class="location" src="../assets/img/card-tour/marker.svg" alt="">
            <span class="category c14-14-m-pc chip-tab-12-m-mb">Cao Bang Loop</span>
            <img class="transport" src="../assets/img/card-tour/motor.svg" alt="">
          </div>
          <!-- Thumbnail -->
          <img class="thumbnail" src="../assets/img/card-tour/d-thumbnail.webp" alt="">
        </div>
        <!-- Content -->
        <div class="card__tour__content">
          <!-- Duration -->
          <div class="duration">
            <img class="duration__icon" src="../assets/img/card-tour/watch.svg" alt="">
            <span class="duration__text chip-tab-14-m-pc chip-tab-12-m-mb">3 days - 3 nights</span>
          </div>
          <!-- Title -->
          <div class="card__tour__title">
            <h3 class="heading c20-20-b m16-16-b-pc">The days epic north: Ha Giang - Cao Bang - Ban Gioc Waterfall The
              days epic
              north: Ha Giang - Cao Bang - Ban Gioc Waterfall</h3>
          </div>
          <!-- Price -->
          <div class="card__tour__price">
            <div class="price">
              <span class="price__text c14-14-r-pc">From</span>
              <span class="price__number c24-b">228 USD</span>
            </div>
            <button class="btn__redirect">
              <img class="btn__redirect__img" src="../assets/img/card-tour/arrow-right.svg" alt="">
            </button>
          </div>
        </div>
      </a>
    </div>
    <div style="width: 16.92rem;">
      <a href="#" class="card__tour__result">
        <div class="result__thumbnail">
          <!-- Category -->
          <div class="result__category">
            Hot deal
          </div>
          <!-- thumbnail -->
          <img class="thumbnail" src="../assets/img/card-tour/d-thumbnail.webp" alt="">
        </div>
        <div class="result__title">
          <h3 class="heading">The days epic north: Ha Giang - Cao Bang - Ban Gioc Waterfall</h3>
        </div>
      </a>

    </div>
  </main>
</body>

</html>